* {
  margin: 0 auto;
  padding: 0px;
}

body {
  font-family: sans-serif;
}

#Header {
  display: flex;
  justify-content: space-evenly;
  background-color: lightgoldenrodyellow;
}

#Header h3 {
  padding-top: 12px;
}

#Song_Setup {
  padding-top: 10px;
  padding-bottom: 10px;
  background: green;
  text-align: center;
}

#DFA_Image {
  width: 50%;
  height: 50%;
  min-width: 50%;
  min-height: 50%;
}

#Content_View {
  text-align: center;
}
