* {
  margin: 0 auto;
  padding: 0px;
}

body {
  font-family: sans-serif;
}

h3 {
  padding: 20px;
}

h1 {
  padding: 20px;
}

h2 {
  padding: 20px;
  padding-top: 25px;
}

a {
  margin: 20px;
  padding: 10px;
  text-decoration: none;
  color: black;
  font-weight: 700;
}

a:hover {
  opacity: 0.85;
}

button {
  font-weight: 700;
  margin: 10px;
  padding: 10px;
  border: none;
}

button:hover {
  margin: 10px;
  padding: 10px;
  opacity: 0.85;
}

button:active {
  background-color: palegoldenrod;
}

select {
  margin: 10px;
  width: 200px;
}

#Header {
  display: flex;
  justify-content: space-evenly;
  background-color: lightgoldenrodyellow;
}

#Header h3 {
  padding-top: 12px;
}

#Generation_Type {
  text-align: center;
  padding: 15px;
}

#Generation_Type button {
  text-align: center;
  padding: 10px;
  margin-right: 40px;
}

#Generation_Type button:last-child {
  text-align: center;
  padding: 10px;
  margin-right: 0px;
}

#Song_Setup {
  transition: max-height 350ms ease-in-out;
  padding-top: 10px;
  padding-bottom: 10px;
  background: green;
  text-align: center;
}

#User_Song_Input {
  transition: max-height 350ms ease-in-out;
  background-color: blue;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#User_Song_Input textarea {
  width: 500px;
  height: 75px;
}

#Pre-Made_Songs {
  transition: max-height 350ms ease-in-out;
  background-color: palegoldenrod;
  text-align: center;
}

#Pre-Made_Songs ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

#Pre-Made_Songs li {
  padding-bottom: 30px;
}

#DFA_View {
  background-color: tomato;
}

#DFA_Image {
  width: 50%;
  height: 50%;
  min-width: 50%;
  min-height: 50%;
  padding-bottom: 20px;
}

#Content_View {
  text-align: center;
}

#Input_Output_View {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#Input_Output_View p {
  padding-bottom: 25px;
}

#Transition_Tab {
  background: yellow;
}

#language {
  padding-bottom: 20px;
}

#language2 {
  padding-bottom: 20px;
}

#language3 {
  padding-bottom: 20px;
}
