* {
  margin: 0 auto;
  padding: 0px;
}

body {
  font-family: sans-serif;
}

h1,
h2,
h3 {
  padding: 20px;
}

a {
  margin: 20px;
  padding: 10px;
  text-decoration: none;
  color: black;
  font-weight: 700;
}

a:hover {
  opacity: 0.85;
  cursor: pointer;
}

button {
  font-weight: 700;
  margin: 10px;
  padding: 10px;
  border: none;
  background-color: #679aa5;
  color: white;
  border: 2px solid black;
}

button:hover {
  margin: 10px;
  padding: 10px;
  opacity: 0.85;
  cursor: pointer;
}

select {
  margin: 10px;
  width: 200px;
}

#Header {
  display: flex;
  justify-content: space-evenly;
  background-color: #f3e9d2;
}

#Header h3 {
  padding-top: 12px;
}

#Generation_Type {
  background-color: #f3e9d2;
  text-align: center;
  padding: 15px;
}

#Generation_Type button {
  text-align: center;
  padding: 10px;
  margin-right: 40px;
}

#Generation_Type button:last-child {
  text-align: center;
  padding: 10px;
  margin-right: 0px;
}

#Song_Setup {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #c6dabf;
  text-align: center;
}

#User_Song_Input {
  background-color: #c6dabf;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#User_Song_Input textarea {
  width: 550px;
  height: 75px;
  resize: none;
}

#Pre-Made_Songs {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #c6dabf;
  text-align: center;
}

#Pre-Made_Songs ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

#Pre-Made_Songs li {
  padding-top: 10px;
  padding-bottom: 10px;
}

#DFA_View {
  background-color: #88d498;
}

#DFA_Image {
  width: 50%;
  height: 50%;
  min-width: 50%;
  min-height: 50%;
  padding-bottom: 20px;
}

#DFA_Image:hover {
  cursor: zoom-in;
}

#Content_View {
  text-align: center;
}

#Input_Output_View {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#Input_Output_View p {
  padding-bottom: 25px;
}

#Transition_Tab {
  background: yellow;
}

#language {
  padding-bottom: 20px;
}

#language2 {
  padding-bottom: 20px;
}

#language3 {
  padding-bottom: 20px;
}
